header{
    display: flex;
    align-items: center;
    box-sizing: border-box;
width: 100%;
height: 80px;
background: #191919;
border: 1px solid rgba(255, 255, 255, 0.1);
justify-content: space-between;
ul{
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: #fff;
    margin-left: 100px;
}
img{
    margin-left: 81.32px;
}
.header__img{
    border-radius: 50%;
    margin-left: -400px;
}

}
.header__hr{
    background: #191919;
border: 1px solid rgba(255, 255, 255, 0.1);
margin-top: 0px;
}
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero{
    background: #191919;
  }