.Login__title1{
    margin-left: 231px;
}
.Login__title2{
    margin-left: 231px;
}
.Login__right__left{
    display: flex;
}

/// LEFT ///
.Login__left{
    margin-left: 231px;
    margin-right: 200px;
}
.Login__left__inp{
    padding: 10px 50px;
    border-radius: 6px;
    border: 1px solid #000;
}
.Login__left__inp__check{
    background-color: #ED165F;
    color: #ED165F;
    border-radius: 10px;
}
.Login__left__btn{
    background-color: #ED165F;
    color: #fff;
    border-radius: 6px;
    padding: 7px 110px;
    border: none;
}

/// RIGHT ///
.Login__right__inp{
    padding: 10px 50px;
    border-radius: 6px;
    border: 1px solid #000;
}
.Login__right__btn{
    background-color: #ED165F;
    color: #fff;
    border-radius: 6px;
    padding: 7px 77px;
    border: none;
}
.Login__right__title7{
    margin-left: 19px;
}
.Login__left__link{
    color: #000;
}